<section class="experience-section">

    <div class="section-title">
        <h2>Work Experience</h2>
        <p>My professional journey and experience</p>
    </div>

    <!-- Company 1 -->
    <div class="company-card">

        <button
            class="company-header"
            (click)="toggleCompany(1)">

            <div class="company-info">
                <h3>Dev IT Limited</h3>
                <span>Software Engineer</span>
            </div>

            <div class="company-meta">
                <span>June-2025 - April-2026</span>
                <span class="arrow" [class.open]="openCompany === 1">
                    ▼
                </span>
            </div>

        </button>

        @if (openCompany === 1) {
        <div class="company-content">

            <h4>Software Engineer / ASP.NET Developer</h4>

             <p>
                Contributed to the development and enhancement of the Kaushal Darpan government education platform, 
                working on Student Admission, Examination, and Hostel Management modules. Developed REST APIs and Angular 
                components, implemented Result Processing and Analytics Dashboard features, optimized database queries 
                and stored procedures, and resolved production issues to improve application performance and reliability.
            </p>

            <ul>
                <li>Developed web applications using ASP.NET Core and Web API.</li>
                <li>Worked with Angular for responsive and dynamic UI development.</li>
                <li>Designed and optimized SQL Server databases and stored procedures.</li>
                <li>Implemented REST APIs and integrated frontend and backend systems.</li>
                <li>Worked with Entity Framework Core and repository-based architecture.</li>
                <li>Fixed production issues and improved application performance.</li>
                <li>Worked with Git, Azure DevOps and CI/CD processes.</li>
            </ul>

            <div class="technology">
                <span>ASP.NET Core</span>
                <span>Angular</span>
                <span>C#</span>
                <span>SQL Server</span>
                <span>EF Core</span>
                <span>Azure DevOps</span>
            </div>

        </div>
        }

    </div>


    
    <!-- Company 2 -->
    <div class="company-card">

        <button
            class="company-header"
            (click)="toggleCompany(2)">

            <div class="company-info">
                <h3>Inductotherm Group</h3>
                <span>Software Engineer</span>
            </div>

            <div class="company-meta">
                <span>November 2023 - December 2024</span>

                <span class="arrow" [class.open]="openCompany === 2">
                    ▼
                </span>
            </div>

        </button>

        @if (openCompany === 2) {
        <div class="company-content">

            <h4>Software Engineer</h4>

            <p>
                Contributed to an SAP-based application that centralized business operations and streamlined work 
                and project access management. Developed RESTful APIs, managed Azure-hosted SQL Server databases, 
                and collaborated with clients to understand requirements and deliver customized solutions for efficient 
                access and workflow management.
            </p>

            <ul>
                <li>Developed and maintained .NET-based applications.</li>
                <li>Worked with C# and ASP.NET technologies.</li>
                <li>Designed and implemented SQL Server queries and stored procedures.</li>
                <li>Developed application features based on business requirements.</li>
                <li>Debugged and resolved application issues.</li>
                <li>Collaborated with team members during development and testing.</li>
            </ul>

            <div class="technology">
                <span>C#</span>
                <span>ASP.NET Core</span>
                <span>Angular 15</span>
                <span>Typescript</span>
                <span>SQL Server</span>
                <span>Azure</span>
            </div>

        </div>
        }

    </div>

    <!-- Company 3 -->
    <div class="company-card">

        <button
            class="company-header"
            (click)="toggleCompany(3)">

            <div class="company-info">
                <h3>RadixWeb software solution</h3>
                <span>Software Engineer</span>
            </div>

            <div class="company-meta">
                <span>June 2022 - August 2023</span>

                <span class="arrow" [class.open]="openCompany === 3">
                    ▼
                </span>
            </div>

        </button>

        @if (openCompany === 3) {
        <div class="company-content">

            <h4>Software Engineer</h4>

            <p>
                Worked on a financial services platform that provides consumers with seamless access to 
                financial products and services, including loan applications, credit card services, and 
                financial management solutions. Contributed to developing and enhancing application 
                features to improve user experience and streamline financial processes.
            </p>

            <ul>
                <li>Developed and maintained .NET-based applications.</li>
                <li>Worked with C# and ASP.NET MVC technologies.</li>
                <li>Designed and implemented SQL Server queries and stored procedures.</li>
                <li>Developed application features based on business requirements.</li>
                <li>Debugged and resolved application issues.</li>
                <li>Collaborated with team members during development and testing.</li>
            </ul>

            <div class="technology">
                <span>C#</span>
                <span>ASP.NET</span>
                <span>ASP.NET MVC</span>
                <span>JavaScript</span>
                <span>SQL Server</span>
            </div>

        </div>
        }

    </div>

    <!-- Company 4 -->
    <div class="company-card">

        <button
            class="company-header"
            (click)="toggleCompany(4)">

            <div class="company-info">
                <h3>VHS Consulting</h3>
                <span>Software Engineer</span>
            </div>

            <div class="company-meta">
                <span>December 2021 - April 2022</span>

                <span class="arrow" [class.open]="openCompany === 4">
                    ▼
                </span>
            </div>

        </button>

        @if (openCompany === 4) {
        <div class="company-content">

            <h4>Software Engineer</h4>

            <p>
                Worked on an SAP automation tool for P&G that enables faster, safer, 
                and more frequent changes to SAP systems. Contributed to streamlining deployment 
                and change management processes, improving operational efficiency and 
                responsiveness to business requirements.
            </p>

            <ul>
                <li>Developed and maintained .NET-based applications.</li>
                <li>Worked with C# and ASP.NET Core MVC technologies.</li>
                <li>Designed and implemented SQL Server queries and stored procedures.</li>
                <li>Developed application features based on business requirements.</li>
                <li>Debugged and resolved application issues.</li>
                <li>Collaborated with team members during development and testing.</li>
            </ul>

            <div class="technology">
                <span>C#</span>
                <span>ASP.NET Core MVC</span>
                <span>SQL Server</span>
                <span>JavaScript</span>
                <span>HTML</span>
                <span>CSS</span>
            </div>

        </div>
        }

    </div>
    <!-- Company 5 -->
    <div class="company-card">

        <button
            class="company-header"
            (click)="toggleCompany(5)">

            <div class="company-info">
                <h3>ASMI Global Software</h3>
                <span>Software Developer</span>
            </div>

            <div class="company-meta">
                <span>August 2020 - October 2021</span>

                <span class="arrow" [class.open]="openCompany === 5">
                    ▼
                </span>
            </div>

        </button>

        @if (openCompany === 5) {
        <div class="company-content">

            <h4>Software Engineer / .NET Developer</h4>

            <p>
                Developed a Hospital Information System (HIS) designed to streamline and simplify day-to-day hospital operations. 
                The system manages key processes including patient registration, billing, revenue tracking, inventory management, 
                and reporting. Contributed to developing application features that improved data management, reduced manual work, 
                and supported efficient access to hospital information. Worked on implementing business requirements, 
                enhancing application functionality, resolving issues, and improving overall system performance to ensure 
                smooth and reliable hospital operations.
            </p>

            <ul>
                <li>Developed and maintained .NET-based applications.</li>
                <li>Worked with C# and ASP.NET Web Forms technologies.</li>
                <li>Designed and implemented SQL Server queries and stored procedures.</li>
                <li>Developed application features based on business requirements.</li>
                <li>Debugged and resolved application issues.</li>
                <li>Collaborated with team members during development and testing.</li>
            </ul>

            <div class="technology">
                <span>C#</span>
                <span>ASP.NET Web Forms</span>
                <span>ASP.NET Core Web API</span>
                <span>SQL Server</span>
                <span>JavaScript</span>
                <span>HTML</span>
                <span>CSS</span>
            </div>

        </div>
        }

    </div>

</section>